.food-item-details-screen {
    padding: 16px;
}

.loading-spinner-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.details-image {
    height: 250px;
    width: 350px;
    object-fit: cover;
}
