<mat-toolbar color="primary" class="top-bar">
  <a [routerLink]="['/']"><span class="top-bar__brand">BookingFood</span></a>

  <button
    mat-button
    [routerLink]="['/dashboard']"
    *ngIf="isAdmin && isAuthenticated">
    Dashboard
  </button>

  <span class="top-bar__spacer"></span>

  <button
    *ngIf="isAuthenticated"
    mat-icon-button
    aria-label="logout icon"
    type="button"
    (click)="onLogout()">
    <mat-icon>logout</mat-icon>
  </button>

  <button
    mat-icon-button
    aria-label="login icon"
    [routerLink]="['/auth']"
    *ngIf="!isAuthenticated">
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>
