@use '@angular/material' as mat;

.food-items-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;

  &__cell {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  &__image {
    max-height: 40px;
  }

  &__button-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}

button:hover {
    @include mat.elevation(8);
    transition-delay: 0.2s;
}
