@use '@angular/material' as mat;

.dashboard {
  padding:  20px 16px 16px 16px;

  &__add-button {
    margin-bottom: 20px;
  }

  &__search-input {
    margin-bottom: 20px;
  }

  &__input-width {
    width: 50%;
  }

}

.loading-spinner-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

button:hover {
  @include mat.elevation(8);
  transition-delay: 0.2s;
}

