<form
  fxLayoutAlign="stretch"
  fxLayout="column"
  class="register-screen__form"
  [formGroup]="form"
  (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" />
    <mat-error
      *ngIf="
        form.get('email').hasError('email') &&
        !form.get('email').hasError('required')
      ">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="form.get('email').hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="password"
      placeholder="Password"
      formControlName="password" />
    <mat-error *ngIf="form.get('password').hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
    <mat-error
      *ngIf="
        form.get('password').hasError('minlength') &&
        !form.get('password').hasError('required')
      ">
      Password should be at least <strong>6 characters</strong>
    </mat-error>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="form.invalid || (isSubmitting$ | async)">
    {{ buttonNameProps ? buttonNameProps : 'Submit' }}
  </button>
</form>
