@use '@angular/material' as mat;

form {
  padding: 16px;

  .mat-input-element{
    height: 17px;
  }

  mat-form-field {
    margin-bottom: 8px;
  }
}

button:hover {
  @include mat.elevation(8);
}
